<!DOCTYPE html>
<html>
  <head>
    <title>RecordPress</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta property="og:title" content="Record Press" />
           <meta property='og:image' content="<%= image_url('project_pic.png') %>"/>
           <meta property="og:description"
             content="A music sharing platform modeled after Bandcamp.com"
           />
           <meta property="og:url"
             content="http://recordpress.herokuapp.com/"
     />

   <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
    <script src="https://kit.fontawesome.com/4978d83d65.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
